*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--grey-950);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-300);
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.attribution {
    //position: absolute;
    width: 100%;
    margin-top: var(--spacing-300);
    text-align: center;
    font-size: 0.6875rem;
    color: var(--grey-500);

    a {
        color: var(--orange);
        text-decoration: none;
        transition: color 0.3s ease;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}