:root {
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --grey-950: hsl(216, 12%, 8%);
    --grey-900: hsl(213, 19%, 18%);
    --grey-500: hsl(217, 12%, 63%);

    --orange: hsl(25, 97%, 53%);

    --gradient-1: hsl(215, 20%, 17%);
    --gradient-2: hsl(216, 24%, 12%);

    --spacing-1700: 8.5rem; //136px
    --spacing-1300: 6.5rem; //104px
    --spacing-500: 2.5rem;  //40px
    --spacing-400: 2rem;    //32px
    --spacing-300: 1.5rem;  //24px
    --spacing-200: 1rem;    //16px
    --spacing-100: 0.5rem;  //8px

    --font-main: 'Overpass', sans-serif;
}